.historia-section {
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 100px 0;
}

.story-block {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 60px;
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.9s ease;
}

.story-block.reverse {
  flex-direction: row-reverse;
}

.story-block.show {
  opacity: 1;
  transform: translateY(0);
}

.story-img {
  width: 35%;
  border-radius: 12px;
  padding: 5px;
}

.story-text {
  width: 45%;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}

.story-title {
  font-size: 2rem;
  margin-bottom: 20px;
}
